@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap');
body {
    font-family: Arial, sans-serif;/*police par defaut*/
    margin: 0;
    padding: 0;
    
   
}

header {
    
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    height: 50px;
}

header nav a {
    color: #fff;
    text-decoration: none;/*enlever le soulignement*/
    margin: 0 15px;
}


#Rooms {
    margin-bottom: 30px;
    
    
}


.header p {
    position: relative; 
}

.header  p::before {
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background-color: #c1b086;
    margin: 0.2rem auto;
    position: absolute;
    left: 50%;  /* Position from the left */
    transform: translateX(-50%);  /* Center horizontally */
    top: -15px;  /* Adjust this as needed */
}


    

.rooms {
    display: flex;
    justify-content: center;
    gap: 20px; /* espace entre les images */
    flex-wrap: wrap;
}

.room.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 300px; /* largeur max des images */
    text-align: left;
    border : 2px solid #c1b086 ;
}

.room.card img {
    width: 100%;
    height: auto;
}

.room-price {
    padding: 15px;
}


.header p{
    position: relative; 
}

header p::before {
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background-color: #c1b086;
    margin: 0.2rem auto;
    position: absolute;
    left: 80%;  /* Position from the left */
    transform: translateX(-50%);  /* Center horizontally */
    top: -15px;  /* Adjust this as needed */
}

.home-button a {
    font-weight: normal;
    display: inline-block;
    margin-top: -340px; /* Espacement par rapport au texte */
    margin-left: 900px;
    padding: 15px 30px;
    background-color: #c1b086; /* Couleur dorée */
    color: white;
    font-size: 7px;
    border-radius: 30px; /* Bords arrondis */
    border: 1px solid white; /* Contour blanc très fin */
    box-shadow: 5px 10px 35px rgba(0, 0, 0, 0.5); /* Ombre autour du bouton */
    transition: background-color 0.3s ease-in-out;
    position: absolute;
    text-decoration: none;/*enlever le soulignement*/
}

.home-button:hover {
    background-color: #c1b086; /* Légère variation au survol */
}

